<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Encuesta Dojo</title>
        <link rel="stylesheet" href="~/css/styles.css"/>
    </head>
    <body>
        <div class=formularioUsuario>
            <h1>Submitted Info</h1>
            <form method="GET" action="Result">
                <div class="posicionColumna">
                    <div class="columna">
                        <div class="datoPersonal">
                            <label for="Nombre" class="estiloLabel">Name: </label>
                        </div>
                        <div class="datoPersonal">
                            <label for="Ubicacion" class="estiloLabel">Dojo Location: </label>
                        </div>
                        <div class="datoPersonal">
                            <label for="Lenguaje" class="estiloLabel">Favorite Language: </label>
                        </div>
                        <div class="datoPersonal">
                            <label for="Comentario" class="estiloLabel">Comment </label>
                        </div>
                    </div>
                    <div class="columna">
                        @{
                            @foreach (var dato in ViewBag.Datos)
                            {
                                @if (dato.Key == "Nombre")
                                {
                                    <div class="datoPersonal">
                                        <span name="Nombre" class="estiloLabel">@dato.Value</span>
                                    </div>
                                }
                                else if (dato.Key == "Ubicacion")
                                {
                                    <div class="datoPersonal">
                                        <span name="Ubicacion" class="estiloLabel">@dato.Value</span>
                                    </div>
                                }
                                else if (dato.Key == "Lenguaje")
                                {
                                    <div class="datoPersonal">
                                        <span name="Lenguaje" class="estiloLabel">@dato.Value</span>
                                    </div>
                                }
                                else if (dato.Key == "Comentario")
                                {
                                    <div class=datoPersonal>
                                        <span name="Comentario" class="estiloLabel">@dato.Value</span>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <div class="botonRegreso">
                    <button formmethod="GET" formaction="./">Go Back</button>
                </div>
            </form>
        </div>
    </body>
</html>